<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403643125039-up3a7cuiof0ph6l0s66tkpnctvheeo6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403643125039-up3a7cuiof0ph6l0s66tkpnctvheeo6d</string>
	<key>API_KEY</key>
	<string>AIzaSyD1rRsmTPlKtU4SBB_vDgKFdnkP_xKvezU</string>
	<key>GCM_SENDER_ID</key>
	<string>403643125039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yashrajsinh.Chat-Bee</string>
	<key>PROJECT_ID</key>
	<string>chatbeeiphone</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbeeiphone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403643125039:ios:08f2916fcc5d32bf0425da</string>
</dict>
</plist>